@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navButton {
  background-color: aquamarine;
  border-style: ridge;
  border-width: 5px;
  display: inline-block;
  margin: auto;
}

.navButton:hover {
  background: #4E6C50;
  transition-duration: 0.5s;
}

.navBar {
  position: absolute;
  top: 0px;
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #820000;
}

.battleMap {
  border: 5px solid black;
  display: inline-block;
}

img {
  width: 50px;
  height: 50px;
}

/* Revise positioning of the elements, not going to scale when adding the third element (chat log / lobby)
   just want to get the daily commit in for now though */
   
.sidebar {
  display: inline-block;
  position: absolute;
  left: 25%;
}

.lobby {
  display: inline-block;
  position: absolute;
  right: 25%;
}

.mainScene {
  display: inline-block;
  position: absolute;
}